{% for field in form %}
<label class="form-control w-full">
    <div class="label">
        <span class="label-text font-medium">{{ field.label }}</span>
    </div>
    {{ field }}
    {% if field.help_text %}
    <div class="label pb-0 justify-start">
        <span class="label-text-alt text-base-content whitespace-normal break-words text-left">
            {{ field.help_text }}
        </span>
    </div>
    {% endif %}
    {% for error in field.errors %}
    <div class="label">
        <span class="label-text-alt text-error font-medium">{{ error }}</span>
    </div>
    {% endfor %}
</label>
{% endfor %}
