{% load django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Vexillologists.com{% endblock %}</title>
    {% load static %}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'assets/styles/output.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    {% htmx_script %}
    <script>
        const savedTheme = localStorage.getItem('theme');
        if (savedTheme === 'light' || savedTheme === 'dark') {
            document.documentElement.setAttribute('data-theme', savedTheme);
        }
    </script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7544372789643594"
     crossorigin="anonymous"></script>
</head>

<body class="flex flex-col items-center min-h-screen"
      data-correct-sound="{% static 'assets/correct.mp3' %}"
      data-incorrect-sound="{% static 'assets/incorrect.wav' %}"
      hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
{% include 'nav.html' %}

{% if messages %}
<div id="toast-container" class="toast toast-top toast-center z-50">
    {% for message in messages %}
    <div role="alert" class="alert alert-{{ message.tags }} shadow-2xl w-[calc(100vw-2rem)] max-w-md text-base sm:text-xl px-4 sm:px-8 py-4 gap-4">
        {% if message.tags == "success" %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        {% endif %}
        <span>{{ message }}</span>
    </div>
    {% endfor %}
</div>

{% endif %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}
<script src="{% static 'assets/scripts/site.js' %}" defer></script>
{% block scripts %}{% endblock %}
</body>

</html>
