{% extends 'base.html' %}

{% block content %}
<h1 class="text-4xl md:text-6xl mt-8 mb-4 mx-4 font-bold">{{ chosen_country.name }}</h1>
{% if chosen_country.flag_image_url %}
    <img src="{{ chosen_country.flag_image_url }}" class="w-90 inline-block drop-shadow-md rounded-sm" alt="Flag">
{% else %}
    <span class="text-9xl">{{ chosen_country.flag_emoji }}</span>
{% endif %}

{% if chosen_country.fact %}
<div class="flex items-start gap-2 bg-success-content border border-success text-white mx-4 mt-6 px-6 py-4 rounded-2xl max-w-xl">
    <span class="text-2xl shrink-0">💡</span>
    <p class="text-lg leading-relaxed">{{ chosen_country.fact }}</p>
</div>
{% endif %}

<div class="flex flex-col gap-4 bg-success-content border border-success text-white p-8 m-4 rounded-2xl text-2xl font-[Alegreya] w-xl">
    <h2><b>Type: </b>{{ chosen_country.entry_type }}</h2>
    <h2><b>Capital: </b>{{ chosen_country.capital }}</h2>
    <h2><b>Population: </b>{{ chosen_country.population_2024 }}</h2>
    <h2><b>Area: </b>{{ chosen_country.area_km2 }} km²</h2>
    <h2><b>Official Language: </b>{{ chosen_country.official_language }}</h2>
    <h2><b>Region: </b>{{ chosen_country.region }}</h2>
</div>
{% endblock %}