<div class="w-full mt-auto">
    <footer class="footer sm:footer-horizontal bg-base-300 text-base-content text-lg p-10">
        <aside class="text-2xl font-['Alegreya']">
          <img
            width="60"
            height="60"
            {% load static %}
            class="fill-current" src="{% static 'assets/images/default_pfp.png' %}">
          <p>Vexillologists.com  <span class="text-success text-3xl">1.2.4</span></p>
          <p>Made with ❤️ from Minnesota</p>
          <p>Flag images via Wikimedia Commons & Flagpedia 🌏</p>
        </aside>
        <nav class="flex flex-col text-2xl text-base-content gap-2">
          <a href="{% url 'leaderboard' %}" class="footer-title hover:cursor-pointer">Leaderboard</a>
          <a href="{% url 'about' %}" class="footer-title hover:cursor-pointer">About</a>
          <a href="{% url 'contact' %}" class="footer-title hover:cursor-pointer">Contact</a>
          <a href="{% url 'quiz' %}" class="footer-title hover:cursor-pointer">Quiz</a>
          <a href="{% url 'settings' %}" class="footer-title hover:cursor-pointer">Settings</a>
          <a href="{% url 'privacy' %}" class="footer-title hover:cursor-pointer">Privacy Policy</a>
          <a href="{% url 'release_notes' %}" class="footer-title hover:cursor-pointer">Release Notes</a>
        </nav>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get theme contorller and current theme
            const themeController = document.getElementById('theme-controller');
            const currentTheme = document.documentElement.getAttribute('data-theme')

            // Controller is checked if the current theme light
            themeController.checked = currentTheme === 'light';

            // If controller is clicked...
            themeController.addEventListener('change', (event) => {
                // If controller is checked, set theme to light
                if (event.target.checked) {
                    document.documentElement.setAttribute('data-theme', 'light');
                    localStorage.setItem('theme', 'light');
                    // If controller is not checked, set theme to dark
                } else {
                    document.documentElement.setAttribute('data-theme', 'dark');
                    localStorage.setItem('theme', 'dark');
                }
            })
        });
    </script>
</div>